{% if gfonts_preload %}
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
{% endif %}

{# добавление шрифта иконок Material Design #}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
