<meta name="author" content="{{ page.author }}">    {# * автор документа #}
<meta name="copyright" content="{{ page.author }}"> {# * принадлежность авторских прав #}
<meta name="creator" content="{{ page.author }}">   {# * создатель документа #}
