{% if robots != null %}
	<meta name="robots" content="{{ robots }}">    {# * все поисковые системы #}
	<meta name="googlebot" content="{{ robots }}"> {# * указание отдельно для Google #}
	<meta name="bingbot" content="{{ robots }}">   {# * указание отдельно для Bing #}
{% endif %}
