<link rel="stylesheet" href="./styles/vendor/sanitize.css"> {# * добавляет sanitize.css #}
<link rel="stylesheet" href="./styles/vendor/grid.css">     {# * добавляет CSS-файл Bootstrap Grid #}
<link rel="stylesheet" href="./styles/main.css">            {# * добавляет основной CSS-файл со стилями #}
