/// @name Themes
/// @access public
/// @author Haba Kudzaev (rx1310)
/// @link https://github.com/rx1310
/// Описание всех переменных есть в файле README.md рядом с этим файлом
$themes: (

	// ? светлая тема
	light: (

		colorAccent    : #026ad3,
		colorBackground: #ffffff,
		colorFont      : #111111,
		colorDivider   : #ededed,

		// * Header
		header_colorBackground: #fbfbfb,
		header_colorDivider: var(--colorDivider),

		// * Nav
		nav_colorBackground: var(--header_colorBackground),
		nav_colorBackground--scrolled: var(--colorBackground),
		nav_boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
		nav-action_colorBackground--hover: #c9c9c9,
		nav-action_colorBackground--active: var(--colorAccent),
		nav-action_colorIcon--active: #ffffff,


	),

	// ? темная тема
	dark: (

		colorAccent    : #2592fb,
		colorBackground: #17181c,
		colorFont      : #fcfcfd,
		colorDivider   : #101115,

		// * Header
		header_colorBackground: #0b0b0d,
		header_colorDivider: var(--colorDivider),

		// * Nav
		nav_colorBackground: var(--header_colorBackground),
		nav_colorBackground--scrolled: var(--header_colorBackground),
		nav_boxShadow: rgb(0, 0, 0) 0px 1px 4px,
		nav-action_colorBackground--hover: #33343c,
		nav-action_colorBackground--active: var(--colorAccent),
		nav-action_colorIcon--active: var(--header_colorBackground),

	)

);
