$themes: (

	// светлая тема
	light: (

		colorAccent    : #026ad3,
		colorBackground: #ffffff,
		colorFont      : #111111,
		colorDivider   : #ededed,

		// * Header
		header_colorBackground: #fbfbfb,
		header_colorDivider: var(--colorDivider)

	),

	// темная тема
	dark: (

		colorAccent    : #2592fb,
		colorBackground: #17181c,
		colorFont      : #fcfcfd,
		colorDivider   : #101115,

		// * Header
		header_colorBackground: #0b0b0d,
		header_colorDivider: var(--colorDivider)

	)

);
