<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="header__content">

					<picture>
						<img
							class="header__image"
							src="{{ header.image }}"
							alt="{{ header.image_alt }}"
							title="{{ header.image_alt }}">
					</picture>

					<button onclick="themerToggle()">Toggle</button>

					<div>
						<h1 class="header__title">{{ header.title }}</h1>
						<p class="header__description">{{ header.description }}</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</header>
