<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="header__content">

					{% if header.image != null %}
						<picture>
							<img
								class="header__image"
								src="{{ header.image }}"
								alt="{{ header.image_alt }}"
								title="{{ header.image_alt }}">
						</picture>
					{% endif %}

					<div>

						<h1 class="header__title">
							{% if header.title == "default" %}
								{{ page.title }}
							{% else %}
								{{ header.title }}
							{% endif %}
						</h1>

						<p class="header__description">
							{% if header.description == "default" %}
								{{ page.description }}
							{% else %}
								{{ header.description }}
							{% endif %}
						</p>

					</div>

				</div>
			</div>
		</div>
	</div>
</header>
