<nav class="nav">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="nav__content">

					{% if nav.action_left == 'back' %}
						<button
					 		class="nav__action material-icons"
					 		title="Назад"
							aria-label="Назад"
							onclick="history.back()">navigate_before</button>
					{% elif nav.action_left == 'home' %}
						<button
					 		class="nav__action material-icons"
					 		title="На главную"
							aria-label="На главную"
							onclick="window.open('./','_self')">home</button>
					{% else %}
						<span class="nav__action" disabled></span>
					{% endif %}

					<h5 class="nav__title hidden">
						{% if nav.title == "default" %}
							{{ page.title }}
						{% else %}
							{{ nav.title }}
						{% endif %}
					</h5>

					{% if nav.action_right == 'scrollup' %}
						<button
					 		class="nav__action nav__action--disabled material-icons"
					 		title="К началу страницы"
							aria-label="К началу страницы"
							onclick="scrollUp()"
							id="scrollUp">keyboard_double_arrow_up</button>
					{% else %}
						<span class="nav__action" disabled></span>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</nav>
